.accomodation_banner {
    background-image: url(../images/accomodation_banner.png);



}

.accomodation_page {
    padding: 10rem 0;

    @include media-breakpoint-down(sm) {
        padding: 5rem 0 5rem 0;
    }

    position: relative;
    .particle {
        position: absolute;
        top: 0;
        left: 0;

        img {
            @include media-breakpoint-down(lg) {
                width: 100%;
            }
        }
    }

    .accomodation_wrapper {

        .tac_details {
            p {
                font-size: 1.6rem;
                font-weight: $regular;
                color: $black;
                margin-top: 2rem;
            }

            ul {
                padding-left: 2rem;

                li {
                    font-size: 1.6rem;
                    font-weight: $medium;
                    list-style: disc;
                    color: $black;
                    margin-top: 1rem;
                    list-style: disc;
                }
            }

            h5 {
                color: $primary;
                font-size: 1.6rem;
                font-weight: $medium;
                margin-top: 3.5rem;
            }

            .homecare_imagewrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 4rem;
                margin: 2.5rem 0 ;

                @include media-breakpoint-down(lg)  {
                    flex-direction: column-reverse;
                    align-items: start;
                    gap: 1rem;
                }

                .contents {
                    max-width: 50rem;
                    width: 100%;
                    
                    @include media-breakpoint-down(lg) {
                        max-width: 100%;
                    }

                    h3 {
                        font-size: 1.6rem;
                        line-height: 2.4rem;
                        font-weight: $medium;
                        color: $black;
                        position: relative;
                        margin-top: 2.5rem;
                    }


                    p {
                        font-size: 1.6rem;
                        line-height: 2.4rem;
                        color: $black;
                        font-weight: $regular;
                    }



                }

                .homecare_image {
                    max-width: 56.4rem;
                    width: 100%;
                    img {
                        width: 100%;
                        border-radius: 1rem;
                    }
                }

            }

            h3 {
                font-size: 1.6rem;
                line-height: 2.4rem;
                font-weight: $medium;
                color: $black;
                position: relative;
                // padding-left: 2rem;
                margin-top: 2.5rem;

                // &:after {
                //     content: "";
                //     position: absolute;
                //     top: 7px;
                //     left: 0;
                //     background-color: $black;
                //     width: .6rem;
                //     height: .6rem;
                //     border-radius: 50%;
                // }
            }

            p {
                font-size: 1.6rem;
                line-height: 2.4rem;
                color: $black;
                font-weight: $regular;
            }

            ul {
                padding-left: 2rem;

                li {
                    font-size: 1.6rem;
                    font-weight: $medium;
                    line-height: 2.4rem;
                    color: $black;
                    list-style: disc;
                    margin-top: 2rem;
                }
            }

            h6 {
                font-size: 1.6rem;
                font-weight: $medium;
                color: $black;
                margin-top: 2rem;
            }

            .why_choosehead {
                font-size: 1.6rem;
                font-weight: $medium;
                margin-top: 5rem;
            }
            h5 {
                font-size: 1.6rem;
                font-weight: $medium;
                margin-top: 2rem;
                padding-left: 2rem;
                position: relative;
                color: $black !important;

                  &:after {
                     content: "";
                     position: absolute;
                     top: 7px;
                     left: 0;
                     background-color: $black;
                     width: .6rem;
                     height: .6rem;
                     border-radius: 50%;
                 }
            }

            .patient_boxwrapper {
                .patient_box {
                    padding: 2.5rem;
                    border-radius: 16px;
                    background-color: #CEE5E7;
                    margin-top: 3rem;
                    display: flex;
                    justify-content: start;
                    gap: 4.5rem;

                    @include media-breakpoint-down(lg) {
                        flex-direction: column;
                    }

                    .patient_image {
                        max-width: 37rem;
                        width: 100%;

                        img {
                            width: 100%;
                            height: auto;
                            border-radius: 10px;
                            object-fit: cover;
                        }
                    }

                    .patient_details {
                        h4 {
                            font-size: 2rem;
                            font-weight: $medium;
                            color: $black;
                        }

                        p {
                            font-size: 1.6rem;
                            font-weight: $regular;
                            color: $black;
                            margin-top: 2rem;
                        }

                        .feature_list {
                            ul {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                gap: 2rem;
                                padding-left: 0;
                                flex-wrap: wrap;
                                margin-top: 3.3rem;

                                @include media-breakpoint-down(sm)  {
                                    flex-direction: column;
                                }

                                li {
                                    width: calc(100% / 2 - 1rem);
                                    display: flex;
                                    justify-content: start;
                                    align-items: center;
                                    gap: 2.5rem;
                                    margin-top: 0 !important;
                                    list-style: none !important;

                                    @include media-breakpoint-down(sm)  {
                                        width: 100%;
                                    }
                                    

                                    h5 {
                                        display: flex;
                                        align-items: center;
                                        gap: 1.2rem;
                                        margin-top: 0;
                                        padding-left: 0;

                                        span {
                                            font-size: 1.6rem;
                                            font-weight: $regular;
                                            color: $black;
                                        }

                                    }
                                    .semicolumn {
                                        font-size: 1.6rem;
                                        font-weight: $regular;
                                        color: $black;
                                    }
                                    h6 {
                                        font-size: 1.6rem;
                                        font-weight: $regular;
                                        color: $black;
                                        margin-top: 5px;

                                    }

                                }
                            }
                        }

                        .enquire_btn {
                            display: flex;
                            justify-content: end;
                            margin-top: 1.3rem;

                            button {
                                height: 4.2rem;
                                border-radius: 1rem;
                                background-color: #0A8B99;
                                padding: 1.5rem 1.4rem;
                                font-size: 1.6rem;
                                color: $white;
                                font-weight: $medium;
                                max-width: 14rem;
                                width: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border: none;
                            }
                        }

                    }




                }
            }





        }
       
       


    }

  
    
}