.blogDetail_Page {
    padding: 4rem 0 10rem 0;

    @include media-breakpoint-down(sm) {
        padding: 4rem 0 5rem 0;
    }

    h6 {
        font-size: 1.6rem;
        font-weight: $regular;
        color: #232323;
    }

    h2 {
        margin-top: 1.2rem;
        font-size: 4rem;
        font-weight: $medium;
        color: $black;

        @include media-breakpoint-down(sm) {
            font-size: 3.5rem;
        }

    }

    .blogdetail_image {
        margin: 4rem 0;
        height: 39.6rem;

        @include media-breakpoint-down(sm) {
            height: 26.9rem;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;        
        }

    }

    h3 {
        font-size: 4rem;
        font-weight: $medium;
        color: $black;
        margin-top: 5rem;

        @include media-breakpoint-down(sm) {
            font-size: 3.5rem;
        }

    }

    p {
        font-size: 1.6rem;
        font-weight: $regular;
        color: #232323;
        margin-top: 2rem;
    }




}