.blog_contents {
    padding: 10rem 0;

    @include media-breakpoint-down(sm) {
        padding: 5rem 0;
    }

    h2 {
        font-size: 4rem;
        font-weight: $medium;
        color: $black;
        max-width: 43rem;
        width: 100%;
        margin: auto;
        text-align: center;
        line-height: 5.9rem;
    }

    p {
        font-size: 1.6rem;
        font-weight: $regular;
        line-height: 2.6rem;
        color: #232323;
        max-width: 63rem;
        width: 100%;
        margin: auto;
        margin-top: 2rem;
        text-align: center;
    }

    .blog_listing {
        display: flex;
        justify-content: start;
        align-items: center;
        column-gap: 4.5rem;
        row-gap: 4rem;
        margin-top: 4rem;
        flex-wrap: wrap;



        @include media-breakpoint-down(md) {
            column-gap: 2rem;
            row-gap: 2rem;
        }

        li {
            width: calc(100% / 3 - 3rem);
            border-radius: 2rem;
            overflow: hidden;

            @include media-breakpoint-down(lg) {
                width: calc(100% / 2 - 2.3rem);
            }

            @include media-breakpoint-down(md) {
                width: calc(100% / 2 - 1rem);
            }

            @include media-breakpoint-down(sm) {
                width: 100%;
                max-width: 40rem;
                margin: auto;
            }

            a {
                .blog_image {
                    img {
                        width: 100%;
                    }
                }

                .blog_contents {
                    background-color: #F3F3F3;
                    padding: 3rem;

                    @include media-breakpoint-down(lg) {
                        padding: 2rem;
                    }

                    h3 {
                        font-size: 2rem;
                        line-height: 2.8rem;
                        font-weight: $medium;
                        color: $black;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;  
                        overflow: hidden;
                    }

                    p {
                        font-size: 1.6rem;
                        font-weight: $regular;
                        line-height: 2.2rem;
                        color: $black;
                        margin-top: 1.5rem;
                        text-align: start;
                        display: -webkit-box;
                        -webkit-line-clamp: 4;
                        -webkit-box-orient: vertical;  
                        overflow: hidden;
                        

                        span {
                            font-weight: $bold;
                            color: $primary;
                        }

                    }

                }

            }

        }

    }



}