.brokerage_formwrapper {
    margin-top: -14rem;
    position: relative;
    z-index: 9;
    padding-bottom: 10rem;

    @include media-breakpoint-down(md) {
        margin-top: -7rem;
    } 

    .brokerage_clientform {
        background-color: white;
        padding: 6rem;
        border-radius: 2rem;
        border: 1px solid #DADADA;

        @include media-breakpoint-down(md)  {
            padding: 3rem;
        }

        &:not(:first-child) {
            margin-top: 4rem;
        }

        h3 {
            font-size: 4rem;
            font-weight: $medium;
            color: black;

            @include media-breakpoint-down(md)  {
                font-size: 3rem;
            }

        }

        form {
            margin-top: 4rem;

            .file_upload {
                margin-top: 3.5rem;
                label {
                    font-size: 1.6rem;
                    font-weight: $regular;
                    color: black;

                    sup {
                        color: #E81D25;
                        top: -0.4em;
                        right: -3px;
                    }

                }

                .upload_box {
                    padding: 1rem;
                    border-radius: 1rem;
                    border: 1px solid #C0C0C0;
                    height: 5rem;
                    display: flex;
                    align-items: center;
                    justify-content: end;
                    margin-top: 1.4rem;

                    h6 {
                        font-size: 1.6rem;
                        font-weight: $regular;
                        color: #087B87;
                        cursor: pointer;
                    }

                }

            }

            .radio_multiselect {
                label {
                    font-size: 1.6rem;
                    font-weight: $regular;
                    color: black;

                    sup {
                        color: #E81D25;
                        top: -0.4em;
                        right: -3px;
                    }

                }

                .radio_wrapper {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 1.5rem;
                    margin-top: 1.5rem;

                    input {
                        width: 2.4rem;
                        height: 2.4rem;
                        accent-color: $primary;
                        cursor: pointer;
                    }

                    h6 {
                        font-size: 1.6rem;
                        font-weight: $regular;
                        color: black;
                    }

                }

            }

            .multi_inputgroup {
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 4rem;
                margin-top: 3.5rem;

                @include media-breakpoint-down(md) {
                    flex-wrap: wrap;
                }

                .input_group {
                    width: calc(100% / 2 - 2rem);

                    @include media-breakpoint-down(md) {
                        width: 100%;
                    }

                    label {
                        font-size: 1.6rem;
                        font-weight: $regular;
                        color: black;

                        sup {
                            color: #E81D25;
                            top: -0.4em;
                            right: -3px;
                        }

                    }

                    .input_parent {
                        position: relative;
                        margin-top: 1.4rem;

                        input {
                            height: 5rem;
                            color: black;
                            border: 1px solid #C0C0C0;
                            border-radius: 1rem;
                            display: flex;
                            align-items: center;
                            padding: 1.5rem;
                            font-size: 1.6rem;
                            font-weight: $regular;
                            width: 100%;
                        }

                    }


                }

            }

            .single_inputgroup {
                margin-top: 3.5rem;

                .input_group {
                    width: 100%;

                    label {
                        font-size: 1.6rem;
                        font-weight: $regular;
                        color: black;

                        sup {
                            color: #E81D25;
                            top: -0.4em;
                            right: -3px;
                        }

                    }

                    .input_parent {
                        position: relative;
                        margin-top: 1.4rem;

                        input {
                            height: 5rem;
                            color: black;
                            border: 1px solid #C0C0C0;
                            border-radius: 1rem;
                            display: flex;
                            align-items: center;
                            padding: 1.5rem;
                            font-size: 1.6rem;
                            font-weight: $regular;
                            width: 100%;
                        }

                        textarea {
                            min-height: 15.3rem;
                            color: black;
                            border: 1px solid #C0C0C0;
                            border-radius: 1rem;
                            display: flex;
                            align-items: center;
                            padding: 1.5rem;
                            font-size: 1.6rem;
                            font-weight: $regular;
                            width: 100%;
                        }

                    }


                }

            }

            .terms_tick {
                margin-top: 4rem;
                display: flex;
                justify-content: start;
                align-items: start;
                gap: 1.5rem;

                input {
                    width: 3.4rem;
                    height: 3.4rem;
                    border-radius: 4px;
                    accent-color: $primary;
                    cursor: pointer;

                    @include media-breakpoint-down(md) {
                        width: 2rem;
                        height: 2rem;
                    }
                }

                p {
                    color: black;
                    font-size: 1.6rem;
                    font-weight: $regular;
                    width: 100%;
                    max-width: calc(100% - 5rem);

                    sup {
                        color: #E81D25;
                    }
                }
            }

        }

    }

    .submt_wrapper{
        margin-top: 3.5rem;
        justify-content: end;
        display: flex;

        .primary_btn {
            max-width: fit-content;
            padding: 1.5rem 6.3rem;
        }

    }

}