.CommunityCare {
    padding: 10rem 0;

    @include media-breakpoint-down(sm) {
        padding: 5rem 0 10rem 0;
    }

    position: relative;
    .particle {
        position: absolute;
        top: 0;
        left: 0;

        img {
            @include media-breakpoint-down(lg) {
                width: 100%;
            }
        }
    }

    .communitycareWrapper {
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: 6rem;

        @include media-breakpoint-down(lg) {
            flex-direction: column;
            gap: 4rem;
        }
       
        .tac_details {
            max-width: 50rem;
            width: 100%;

            @include media-breakpoint-down(lg) {
                max-width: 100%;
            }

            p {
                font-size: 1.6rem;
                font-weight: $regular;
                color: $black;
                margin-top: 2.5rem;
            }
        }

        .tac_image {
            max-width: 50rem;
            width: 100%;
            display: flex;
            justify-content: end;
            position: relative;

            img {
                max-width: 37.5rem;
                width: 100%;
                border-radius: 2rem;

                @media (max-width: 400px) {
                    max-width: 30rem;
                } 

            }

            .sub_image {
                max-width: 24rem;
                position: absolute;
                bottom: -7rem;
                left: 0;
                width: 100%;
                object-fit: cover;

                img {
                    max-width: 100%;
                }
            }

        }


    }

    .social_community {
        padding: 10rem 0 0 0;
        display: flex;
        justify-content: space-between;
        gap: 6rem;

        @include media-breakpoint-down(lg) {
            gap: 4rem;
            align-items: center;
            flex-direction: column;
        }

       .contents {
        max-width: 50rem;
        width: 100%;

        @include media-breakpoint-down(lg) {
            max-width: 100%;
        }

        h3 {
            font-size: 4rem;
            font-weight: $medium;
            color: $black;
        }

        p {
            font-size: 1.6rem;
            line-height: 2.4rem;
            color: $black;
            font-weight: $regular;
            margin-top: 4rem;
            margin-bottom: 3rem;
        }

        h5 {
            font-size: 1.6rem;
            font-weight: $regular;
            color: $black;
            margin-top: 5px;
        }

        .referal_btn {
            margin-top: 2.4rem;
            .primary_btn {
                max-width: 16.9rem;
                width: 100%;
            }
        }
       }


        .image {
            max-width: 52.5rem;
            width: 100%;
            img {
                width: 100%;
                object-fit: cover;
                border-radius: 2rem;
            }
        }



    }

    
}