
.nids_banner {
    background-image: url(../images/ndis_banner.png);

    @include media-breakpoint-down(lg) {
        height: auto;
        padding: 2rem 0;
    }

    .row {
        width: 100%;
        .col-12 {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include media-breakpoint-down(lg) {
                flex-direction: column;
            }
    
            .refer_form {
                padding: 3rem;
                background-color: $white;
                border-radius: 10px;
                position: relative;
                z-index: 9;
                max-width: 43.5rem;
                width: 100%;
    
                h2 {
                    font-weight: $medium;
                    font-size: 4rem;
                    color: $black;
                }
    
                .input_group {
                    .input_parent {
                        input {
                            width: 100%;
                            border: 1px solid #A4A1A1;
                            padding: 1.5rem;
                            color: #A4A1A1;
                            font-size: 1.6rem;
                            font-weight: $regular;
                            border-radius: 10px;
                            margin-top: 2rem;
                            height: 5rem;
                            display: flex;
                            justify-content: start;
                            align-items: center;
                            transition: .3s ease-in-out;

                            &:focus {
                                outline: none;
                                border: 1px solid $secondary;
                                transition: .3s ease-in-out;
                            }

                        }
                    }
                }
    
                .complete_btn {
                    margin-top: 2rem;
                    display: flex;
                    justify-content: end;
                    align-items: center;
    
                    button {
                        max-width: 13.7rem;
                        width: 100%;
                        height: 4.9rem;
                    }
                }
    
    
            }
    
        }
    }

}

.disability_serviceWrapper {
    .home_accomadation {
        padding: 10rem 0;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 4rem;
        flex-wrap: wrap;

        @include media-breakpoint-down(lg) {
            gap: 2rem;
            padding: 7rem 0;
        }
        @include media-breakpoint-down(md)  {
            padding: 5rem 0;
        }


        li {
            width: calc(100% / 2 - 2rem);
            position: relative;

            @include media-breakpoint-down(lg) {
                width: calc(100% / 2 - 1rem);
            }

            @include media-breakpoint-down(md)  {
                max-width: 50rem;
                margin: auto;
                width: 100%;
            }


            a {
                .service_img {
                    img {
                        width: 100%;
                        border-radius: 2rem;
                    }
                }

                .content_box{
                    background-color: $primary;
                    font-weight: $medium;
                    font-size: 2.4rem;
                    color: $white;
                    border-radius: 2rem;
                    padding: 1.2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    max-width: 27rem;
                    width: 100%;
                    position: absolute;
                    bottom: 3rem;
                    left: 50%;
                    transform: translateX(-50%);

                    @include media-breakpoint-down(xl) {
                        font-size: 2rem;
                    }

                    @include media-breakpoint-down(lg) {
                        font-size: 1.6rem;
                        min-width: 30rem;
                        white-space: wrap;
                    }
                }

            }

        }

    }

    .other_services {
        padding-bottom: 10rem;
        h2 {
            font-size: 4rem;
            font-weight: $medium;
            color: $black;

            @include media-breakpoint-down(md)  {
               text-align: center;
            }

        }

        .other_serviceUl {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 4rem;
            flex-wrap: wrap;
            margin-top: 4rem;

            @include media-breakpoint-down(lg) {
                gap: 2rem;
            } 
    
            li {
                width: calc(100% / 2 - 2rem);
                position: relative;

                @include media-breakpoint-down(lg) {
                    width: calc(100% / 2 - 1rem);
                }

                @include media-breakpoint-down(md)  {
                    max-width: 50rem;
                    margin: auto;
                    width: 100%;
                }
    
                a {
                    .service_img {
                        img {
                            width: 100%;
                            border-radius: 2rem;
                        }
                    }
    
                    .content_box{
                        background-color: $primary;
                        font-weight: $medium;
                        font-size: 2.4rem;
                        color: $white;
                        border-radius: 2rem;
                        padding: 1.2rem 1.6rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        max-width: fit-content;
                        min-width: 20rem;
                        width: 100%;
                        position: absolute;
                        bottom: 3rem;
                        left: 50%;
                        transform: translateX(-50%);
                        white-space: nowrap;

                        @include media-breakpoint-down(xl) {
                            font-size: 2rem;
                        }

                        @include media-breakpoint-down(lg) {
                            font-size: 1.6rem;
                            min-width: 30rem;
                            white-space: wrap;
                        }
                    }
    
                }
    
            }
        }

    }

}

.disability_whychoose {
    padding-top: 7rem;
    padding-bottom: 8rem;
    background-color: #E7F2F3;
    .why_choosedetails {
        display: flex;
        justify-content: space-between;
        align-items: start;
        gap: 8rem;

        @include media-breakpoint-down(md) {
            gap: 4rem;
            flex-direction: column;
        }

        .left_choose {
            max-width: 52.1rem;
            width: 100%;

            @include media-breakpoint-down(md)  {
                max-width: 100%;
            }

            h2 {
                font-size: 4rem;
                font-weight: $medium;
                color: $black;
                margin-bottom: 10rem;
            }

            h3 {
                font-size: 2.4rem;
                font-weight: $medium;
                color: $black;
                margin-top: 4rem;
                padding-left: 2rem;
                position: relative;

                &::after {
                    content: "";
                    width: 1.1rem;
                    height: 1.1rem;
                    position: absolute;
                    background-color: $black;
                    border-radius: 50%;
                    left: 0;
                    top: 5px;

                }

            }
            p {
                font-size: 1.6rem;
                font-weight: $regular;
                color: $black;
                margin-top: 2rem;
            }

        }
        .right_choose {
            max-width: 52.1rem;
            width: 100%;

            @include media-breakpoint-down(md)  {
                max-width: 100%;
            }

            .why_chooseimg {
                max-width: 60rem;
                width: 100%;

                img {
                    width: 100%;
                }
            }

            h3 {
                font-size: 2.4rem;
                font-weight: $medium;
                color: $black;
                margin-top: 4rem;
                padding-left: 2rem;
                position: relative;

                &::after {
                    content: "";
                    width: 1.1rem;
                    height: 1.1rem;
                    position: absolute;
                    background-color: $black;
                    border-radius: 50%;
                    left: 0;
                    top: 5px;

                }

            }
            p {
                font-size: 1.6rem;
                font-weight: $regular;
                color: $black;
                margin-top: 2rem;
            }
        }
    }
}