.gallery_page {
    .gallery_wrapper {
        padding-top: 5rem;
        .nav-tabs {
            .nav-item {
                .nav-link {
                    color: #C1B2B2;
                    padding-bottom: 1.4rem;
                    font-size: 1.4rem;
                    font-weight: $regular;
                    padding: 1.3rem 2.5rem;
                    border: none;

                    &.active {
                        color: $primary;
                        font-weight: $bold;
                        border-bottom: 3px solid $primary;
                    }
                }
            }
        }
    }
    .tab-content {
        .inear_tabs {
            padding: 5rem 0 4rem 0;
            .nav {
                gap: 2rem;
                border-bottom: none;

                .nav {
                    .nav-item {
                        .nav-link {
                             border: 1px solid #969696;
                    padding: 1.5rem 1.5rem;
                    font-size: 1.6rem;
                    font-weight: $medium;
                    color: #969696;
                    border-radius: 0;

                    &.active {
                        background-color: $primary;
                        color: $white;
                        border: 1px solid transparent;
                    }
                        }
                    }
                }

                .nav-link {
                    border: 1px solid #969696;
                    padding: 1.5rem 1.5rem;
                    font-size: 1.6rem;
                    font-weight: $medium;
                    color: #969696;
                    border-radius: 0;

                    &.active {
                        background-color: $primary;
                        color: $white;
                        border: 1px solid transparent;
                    }

                }
            }
        }
    }

    .gallery_imagewrapper {
        .gallery_row1 {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 2rem;

            .gallery_column {
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 2rem;
                width: 50%;

                .common_box {
                    width: calc(100% / 2 - 1rem);

                    img {
                        width: 100%;
                    }
                }

                .gallery_firstbox {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 2rem;
                    flex-direction: column;

                    img {
                        height: 26.3rem;
                        object-fit: cover;
                        width: 100%;
                    }

                }

                .gallery_secondbox {
                    height: 54.6rem;
                    img {
                        height: 100%;
                        object-fit: cover;
                        width: 100%;
                    }
                }


            }

            .gallery_column2 {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 2rem;
                width: 50%;

                .gallery_secondbox {
                    display: flex;
                    align-items: center;
                    gap: 2rem;

                    img {
                        height: 26.3rem;
                        object-fit: cover;
                        width: 100%;
                    }

                }

                .gallery_firstbox {
                    width: 100%;
                    img {
                        height: 26.3rem;
                        object-fit: cover;
                        width: 100%;
                    }
                }

                .gallery_secondbox {
                    img {
                        width: calc(100% / 2 - 1rem);
                    }
                }


            }

        }
    }

}