html {
  /* 62.5% of 16px base font size is 10px */
  font-size: 62.5%;

  @media (max-width: 768px) {
    font-size: 56.25%; // 1rem = 9px
  }

  @media (max-width: 576px) {
    font-size: 50%; // 1rem = 8px
  }

  scroll-behavior: smooth;
}

main {
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  font-family: "Heebo";
}

.Heebo {
  font-family: "Heebo";
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

section {
  max-width: 100vw;
}

ul {
  li {
    list-style: none;
  }
}

p {
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 114px;
  max-width: 1366px;

  @include media-breakpoint-down(xl) {
    padding: 0 60px;
  }

  @include media-breakpoint-down(lg) {
    padding: 0 40px;
  }

  @include media-breakpoint-down(md) {
    padding: 0 30px;
  }

  @include media-breakpoint-down(sm) {
    padding: 0 16px;
  }
}

label {
  margin: 0;
  padding: 0;
}

button {
  text-transform: capitalize;

  &:focus {
    outline: none;
  }
}

ul {
  padding: 0;
  margin: 0;
}

.heading {
  font-size: 5rem;
  line-height: 6.4rem;
  font-weight: $bold;
  color: $black;
}

.sub_heading {
  font-size: 1.8rem;
  font-weight: $semibold;
  color: $primary;
}

p {
  font-weight: $regular;
  font-size: 1.6rem;
  color: #2f2e2e;
  line-height: 2.6rem;
}

.paragraph {
  font-weight: $regular;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #787878;
  margin-top: 2rem;
}

.sub_heading {
  font-size: 2rem;
  font-weight: $medium;
  color: #787878;
}

.is-sticky {
  position: fixed;
  top: 0;
  transition: 0.1s ease-in-out;
  z-index: 95;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
  animation: slideDown 0.35s ease-out;
  width: 100%;
  // backdrop-filter: blur(10px);
  background-color: $white;
}

.btn {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.primary_btn {
  width: 100%;
  height: 5.6rem;
  padding: 1.5rem 3.2rem;
  background-color: $secondary;
  border-radius: 4.2rem;
  border: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: $bold;
  color: $white;
  transition: 0.3s ease-in-out;
  white-space: nowrap;

  &:hover {
    box-shadow: 0 0px 2px 4px rgb(255 0 0 / 40%);
    transition: 0.3s ease-in-out;
  }
}

//header

.header {
  .page_header {
    box-shadow: 0px -1px 30px 0px #00000014;
    .top_headerWrapper {
      padding: 10px;
      box-shadow: 0 1px 6px 0 #20212447;

      @include media-breakpoint-up(lg) {
        display: none;
      }
      .top_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;

   

        .provider {
          .provider_img {
            max-width: 10rem;
            width: 100%;

            img {
              width: 100%;
            }
          }

          h5 {
            margin-top: 5px;
          }

        }

        ul {
          display: flex;
          justify-content: end;
          align-items: center;
          gap: 2rem;
          max-width: calc(100% - 120px);
          width: 100%;

          li {
            h5 {
              font-size: 1.2rem;
              font-weight: $regular;
              color: $black;
              text-align: end;
              margin-top: 0.5rem;
            }

            .mail {
              display: flex;
              justify-content: start;
              align-items: center;
              gap: 1rem;
              white-space: wrap;

              .email_details {

                @include media-breakpoint-down(sm) {
                  display: none;
                } 

                h6 {
                  font-weight: $regular;
                  color: $primary;
                  font-size: 1.4rem;
                }

                a {
                  font-size: 1.6rem;
                  font-weight: $regular;
                  color: $black;
                  transition: 0.3s ease-in-out;
                  margin-top: 4px;

                  &.word_break {
                    word-break: break-all;
                  }

                  &:hover {
                    color: $primary;
                    transition: 0.3s ease-in-out;
                  }
                }
              }
            }
          }
        }
      }
    }

    .header_wrapper {
      display: flex;
      align-items: center;

      @include media-breakpoint-down(lg) {
        justify-content: space-between;
        padding-top: 2rem;
      }

      .logo {
        max-width: 14.9rem;
        width: 100%;
        padding-right: 3.5rem;

        @media (max-width: 1310.98px) {
          padding-right: 1.5rem;
          max-width: 12.5rem;
        }

        @include media-breakpoint-down(lg) {
          max-width: 11.5rem;
          position: relative;
          z-index: 9;
          padding: 0 1rem 1rem 1rem;
          background-color: white;
        } 



        img {
          width: 100%;
        }
      }

      .contact_detailwrapper {
        width: calc(100% - 140px);
        padding-bottom: 2rem;
        border-left: 1px solid #dbdbdb;



        .contact_details {
          padding: 2rem 0 1.6rem 0;

          @include media-breakpoint-down(lg) {
            display: none;
          }

          ul {
            display: flex;
            justify-content: start;
            align-items: center;

            @include media-breakpoint-down(xl) {
              justify-content: space-around;
            }

            li {
              &:first-child {
                padding: 0 3.6rem 0 4.2rem;

                @media (max-width: 1310.98px) {
                  padding: 0 1.6rem 0 2.2rem;
                }

                @include media-breakpoint-down(xl) {
                  padding: 0 0.5rem 0 0.5rem;
                }
              }

              &:nth-child(2) {
                padding: 0 4.2rem;
                border-right: 1px solid #dbdbdb;
                border-left: 1px solid #dbdbdb;

                @media (max-width: 1310.98px) {
                  padding: 0 2.2rem;
                }

                @include media-breakpoint-down(xl) {
                  padding: 0 1rem;
                }
              }

              &:last-child {
                padding-left: 4.2rem;

                @media (max-width: 1310.98px) {
                  padding-left: 2rem;
                }

                @include media-breakpoint-down(xl) {
                  padding-left: 1rem;
                }
              }

              &.registerbtn_li {
                display: flex;
                align-items: center;
                gap: 3.5rem;

                @include media-breakpoint-down(xl) {
                  gap: 1.5rem;
                }

                .login_btn {
                  @include media-breakpoint-down(xl) {
                    height: unset;
                    padding: 1rem;
                  }

                  span {
                    font-size: 1.6rem;
                    font-weight: $medium;
                    color: $white;

                    @include media-breakpoint-down(xl) {
                      display: none;
                    }
                  }

                  .profile_icon {
                    display: none;
                    @include media-breakpoint-down(xl) {
                      display: block;
                    }
                  }
                }
              }

              h5 {
                font-size: 1.2rem;
                font-weight: $regular;
                color: $black;
                text-align: end;
                margin-top: 0.5rem;
              }

              .mail {
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 1rem;
                white-space: nowrap;

                .email_details {
                  h6 {
                    font-weight: $regular;
                    color: $primary;
                    font-size: 1.4rem;
                  }

                  a {
                    font-size: 1.6rem;
                    font-weight: $regular;
                    color: $black;
                    transition: 0.3s ease-in-out;
                    margin-top: 4px;

                    &:hover {
                      color: $primary;
                      transition: 0.3s ease-in-out;
                    }
                  }
                }
              }
            }
          }
        }

        .menubar {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 1.3rem;
          padding-left: 1rem;
          padding-top: 2rem;
          border-top: 1px solid #dbdbdb;
          position: relative;

          @media (max-width: 1310.98px)  {
            gap: 4rem;
          }

          @include media-breakpoint-down(lg) {
            position: absolute;
            top: 0;
            left: 0;
            background-color: white;
            height: 100vh;
            z-index: 12;
            flex-direction: column;
            width: 100%;
            align-items: center;
            justify-content: center;
            transform: translateY(-100%);
            transition: .3s ease-in-out;
            border: none;
          }

          &.active_menu {
            transform: translateY(0);
            transition: .3s ease-in-out;
          }




          ul {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 1.4rem;

            @include media-breakpoint-down(lg)  {
              flex-direction: column;
              gap: 4rem;
            }

            &::-webkit-scrollbar-track  {
              background-color: $primary !important;
            }

            @media (max-width: 1310.98px) {
              justify-content: start;
              white-space: nowrap;
              overflow-x: auto;
              width: 100%;
            }

            li {
              display: flex;
              justify-content: start;
              align-items: center;
              gap: 5px;

              a {
                font-weight: $regular;
                font-size: 1.5rem;
                color: $black;
                position: relative;

                @media (max-width: 1310.98px) {
                  font-size: 1.4rem;
                }

                @include media-breakpoint-down(lg) {
                  font-size: 2rem;

                }

                &::after {
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  right: 0;
                  margin: auto;
                  width: 0%;
                  content: "";
                  color: transparent;
                  background: $secondary;
                  height: 1px;
                  -webkit-transition: 0.3s ease;
                  transition: 0.3s ease;
                }

                &:hover {
                  color: $secondary;
                  transition: 0.3s ease-in-out;

                  &:after {
                    width: 100%;
                    transition: 0.3s ease-in-out;
                  }
                }
              }
            }
          }

          .social_media {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;

            .icons {
              svg {
                path {
                  transition: 0.3s ease-in-out;
                }
              }
              &:hover {
                svg {
                  path {
                    fill: $secondary;
                    transition: 0.3s ease-in-out;
                  }
                }
              }
            }
          }
        }
      }

      .mobile_menu {
        display: none;

        @include media-breakpoint-down(lg) {
          display: flex;
          flex-direction: row-reverse;
          gap: 4rem;
        }

        @include media-breakpoint-down(sm) {
          gap: 2rem;
        }

        .login_btn {
          .profile_icon {
            display: none;
          }

          @include media-breakpoint-down(sm)  {
            padding: 1.5rem;
            font-size: 1.4rem;
          }

        }

        .toggle {
          position: relative;
          width: 50px;
          height: 50px;
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          overflow: hidden;
          // display: none;
          z-index: 99;

          @include media-breakpoint-down(md) {
            display: flex;
          }

          span {
            position: absolute;
            width: 40px;
            height: 2.5px;
            background: #23b5b5;
            border-radius: 10px;
            transition: 0.5s;

            &:nth-child(1) {
              transform: translateY(-10px);
              width: 25px;
              left: 5px;
            }

            &:nth-child(2) {
              transform: translateY(10px);
              width: 15px;
              left: 5px;
            }
          }
        }

        .toggle.active {
          span {
            &:nth-child(1) {
              width: 30px;
              transform: translateY(0) rotate(45deg);
              transition-delay: 0.125s;
            }

            &:nth-child(2) {
              width: 30px;
              transform: translateY(0) rotate(315deg);
              transition-delay: 0.25s;
            }

            &:nth-child(3) {
              transform: translateX(60px);
            }
          }
        }
      }
    }
  }
}

//header end

footer {
  background-color: $primary;
  padding-top: 5rem;

  .logo {
    display: flex;
    justify-content: center;
  }

  p {
    font-size: 1.5rem;
    font-weight: $regular;
    color: $white;
    max-width: 56.7rem;
    width: 100%;
    margin: auto;
    margin-top: 2.1rem;
  }

  .social_media {
    display: flex;
    justify-content: center;
    gap: 1.7rem;
    margin-top: 2rem;

    .icon {
      cursor: pointer;

      path {
        transition: 0.3s ease-in-out;
      }

      &:hover {
        svg {
          path {
            fill: $secondary;
            transition: 0.3s ease-in-out;
          }
        }
      }
    }
  }

  .footer_menu {
    max-width: 113.7rem;
    width: 100%;
    margin-top: 3.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 1.7rem 0;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

    @include media-breakpoint-down(xl) {
      gap: 2.5rem;
    } 

    @include media-breakpoint-down(lg) {
      gap: 1.5rem;
    }

    @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
    }

    li {
      a {
        font-weight: $regular;
        font-size: 1.6rem;
        color: $white;
        position: relative;

        @include media-breakpoint-down(lg) {
          font-size: 1.3rem;
        }

        &:after {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          width: 0%;
          content: "";
          color: transparent;
          background: #e81d25;
          height: 1px;
          -webkit-transition: 0.3s ease;
          transition: 0.3s ease;
        }

        &:hover {
          color: $secondary;
          transition: 0.3s ease-in-out;
          &::after {
            width: 100%;
            transition: 0.3s ease-in-out;
          }
        }
      }
    }
  }

  .terms_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0 2.6rem 0;

    .copyright {
      font-size: 1.5rem;
      font-weight: $regular;
      color: rgba(255, 255, 255, 0.5);

      @include media-breakpoint-down(lg) {
        font-size: 1.3rem;
      }
    }

    ul {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 4.4rem;

      @include media-breakpoint-down(lg) {
        gap: 2rem;
      }

      li {
        a {
          font-size: 1.5rem;
          font-weight: $regular;
          color: $white;
          position: relative;

          @include media-breakpoint-down(lg) {
            font-size: 1.3rem;
          }

          &:after {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 0%;
            content: "";
            color: transparent;
            background: #e81d25;
            height: 1px;
            -webkit-transition: 0.3s ease;
            transition: 0.3s ease;
          }

          &:hover {
            color: $secondary;
            transition: 0.3s ease-in-out;
            &::after {
              width: 100%;
              transition: 0.3s ease-in-out;
            }
          }
        }
      }
    }
  }
}

.common_Pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-top: 4rem;

  @include media-breakpoint-down(sm) {
    gap: 2rem;
  }

  .prev {
    font-size: 1.4rem;
    font-weight: $semibold;
    color: $black;
    display: flex;
    align-items: center;
    gap: .5rem;

    img {
        margin-top: -3px;
      
    }

  }

  .next {
    font-size: 1.4rem;
    font-weight: $semibold;
    color: $primary;
    display: flex;
    align-items: center;
    gap: .5rem;

    img {
        margin-top: -4px;
      
    }
  }

  ul {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2rem;

    li {
      a {
        font-size: 1.4rem;
        font-weight: $semibold;
        color: $black;
      }

      &.active {
        a {
          color: $primary;
        }
      }

    }
  }

}



.modal {
  .modal-dialog {

    @include media-breakpoint-up(sm) {
      max-width: 100rem;
      width: 100%;
    }

    .modal-content {
      border-radius: 2rem;
      .modal-body {
        padding: 4rem;
        .apply_head {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 3rem;

          h2 {
            font-size: 4rem;
            font-weight: $semibold;
            color: $black;
          }

          .close_img {
            width: 2.4rem;
            height: 2.4rem;
            cursor: pointer;

            img {
              object-fit: contain;
              width: 100%;
              height: 100%;
            }

          }

        }

        .apply_form {
          margin-top: 3.4rem;
          form {
            .input_wrapper {
              display: flex;
              justify-content: start;
              align-items: center;
              gap: 2rem;
              margin-bottom: 2rem;

              @include media-breakpoint-down(sm) {
                flex-wrap: wrap;
              }

              .input_parent {
                width: calc(100% / 2 - 1rem);

                @include media-breakpoint-down(sm) {
                  width: 100%;
                }

                input {
                  height: 5rem;
                  border-radius: 1rem;
                  width: 100%;
                  padding: 1.5rem;
                  border: 1px solid #C0C0C0;
                  font-size: 1.6rem;
                  font-weight: $regular;
                  color: #A4A1A1;
                  display: flex;
                  justify-content: start;
                  align-items: center;
                  transition: .3s ease-in-out;

                  &:focus {
                    outline: none;
                    border: 1px solid $secondary;
                    transition: .3s ease-in-out;
                  }

                }

                
                .nice-select {
                  height: 5rem;
                  border-radius: 1rem;
                  width: 100%;
                  padding: 1.5rem;
                  border: 1px solid #C0C0C0;
                  font-size: 1.6rem;
                  font-weight: $regular;
                  color: #A4A1A1;
                  display: flex;
                  justify-content: start;
                  align-items: center;
                  transition: .3s ease-in-out;

                  .list {
                    width: 100%;

                    .option {
                      color: $black;
                    }

                  }


                }

              }

            }

            .resume_uploadBox {
              border: 1px dashed #C0C0C0;
              border-radius: 1rem;
              padding: 2.4rem 2.4rem 2.4rem 2.4rem;
              width: calc(50% - 1rem);
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;

              @include media-breakpoint-down(sm) {
                width: 100%;
              }

              h6 {
                font-weight: $regular;
                font-size: 1.6rem;
                color: #A4A1A1;
                margin-top: 1rem;
              }

            }

            .submit_btn {
              margin-top: 2.6rem;
              display: flex;
              justify-content: end;

              .primary_btn {
                max-width: 14.7rem;
                width: 100%;
              }

            }

          }
        }

      }
    }
  }
}

.service_box {
  padding: 3rem;
  border-radius: 1rem;
  background-color: $white;
  box-shadow: 0px 4px 20px 0px #0000001A;
  position: absolute;
  top: 5rem;
  z-index: 10;
  opacity: 0;
  visibility: hidden;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  ul {
    flex-direction: column;
    gap: 1.6rem;
    justify-content: start;
    align-items: start !important;


    li {
      a {
        font-size: 1.6rem;
        font-weight: $regular;
        color: #000000;
      }
    }
  }
}

.modal_author {
  .modal-dialog {
   .modal-content {
    border-radius: 2rem;

    .author_close {
      position: absolute;
      top: 1.6rem;
      right: 1.6rem;
      background: none !important;
      width: 24px;
      z-index: 9;
      height: 24px;

      img {
        width: 100%;
        object-fit: contain;
        height: 100%;
      }
    }

    .modal-body {
      padding: 4rem;

      .author_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: start;
        gap: 4rem;

        @include media-breakpoint-down(sm) {
          flex-direction: column;
        }



        .author_details {
          max-width: 26rem;
          width: 100%;
          .author_image {
            height: 30rem;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 1rem;
            }

          }

          h6 {
            font-size: 2rem;
            font-weight: $medium;
            color: $black;
            margin-top: 2rem;
          }

          h5 {
            font-size: 1.4rem;
            font-weight: $medium;
            color: #087B87;
            margin-top: .8rem;
          }

        }

        .author_para {
          max-width: 62rem;
          width: 100%;
          max-height: 58.4rem;
          overflow-y: auto;

          p {
            font-size: 1.6rem;
            font-weight: $regular;
            color: $black;
            margin: 2rem 0;
          }

        }

      }

    }

   }
  }
}