.Homecare {
    padding: 10rem 0;

    @include media-breakpoint-down(sm) {
        padding: 5rem 0 10rem 0;
    }

    position: relative;
    .particle {
        position: absolute;
        top: 0;
        left: 0;

        img {
            @include media-breakpoint-down(lg) {
                width: 100%;
            }
        }
    }

    .homewrapper {

        .tac_details {
            p {
                font-size: 1.6rem;
                font-weight: $regular;
                color: $black;
                margin-top: 2rem;
            }

            ul {
                padding-left: 2rem;

                li {
                    font-size: 1.6rem;
                    font-weight: $medium;
                    list-style: disc;
                    color: $black;
                    margin-top: 1rem;
                    list-style: disc;
                }
            }

            h5 {
                color: $primary;
                font-size: 1.6rem;
                font-weight: $medium;
                margin-top: 3.5rem;
            }

            .homecare_imagewrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 4rem;
                margin: 2.5rem 0 ;

                @include media-breakpoint-down(lg)  {
                    flex-direction: column-reverse;
                    align-items: start;
                    gap: 1rem;
                }

                .contents {
                    max-width: 50rem;
                    width: 100%;
                    
                    @include media-breakpoint-down(lg) {
                        max-width: 100%;
                    }

                    h3 {
                        font-size: 1.6rem;
                        line-height: 2.4rem;
                        font-weight: $medium;
                        color: $black;
                        position: relative;
                        padding-left: 2rem;
                        margin-top: 2.5rem;

                        &:after {
                            content: "";
                            position: absolute;
                            top: 7px;
                            left: 0;
                            background-color: $black;
                            width: .6rem;
                            height: .6rem;
                            border-radius: 50%;
                        }
                    }

                    p {
                        font-size: 1.6rem;
                        line-height: 2.4rem;
                        color: $black;
                        font-weight: $regular;
                    }



                }

                .homecare_image {
                    max-width: 56.4rem;
                    width: 100%;
                    img {
                        width: 100%;
                        border-radius: 1rem;
                    }
                }

            }

            h3 {
                font-size: 1.6rem;
                line-height: 2.4rem;
                font-weight: $medium;
                color: $black;
                position: relative;
                padding-left: 2rem;
                margin-top: 2.5rem;

                &:after {
                    content: "";
                    position: absolute;
                    top: 7px;
                    left: 0;
                    background-color: $black;
                    width: .6rem;
                    height: .6rem;
                    border-radius: 50%;
                }
            }

            p {
                font-size: 1.6rem;
                line-height: 2.4rem;
                color: $black;
                font-weight: $regular;
            }

            ul {
                padding-left: 2rem;

                li {
                    font-size: 1.6rem;
                    font-weight: $medium;
                    line-height: 2.4rem;
                    color: $black;
                    list-style: disc;
                    margin-top: 2rem;
                }
            }



        }
       
       


    }

  
    
}