.banner_section {
    .banner_slideWrapper {
        .banner_slider {

            #banner_next {
                background-image: url(../images/icons/banner_next.svg);
                background-position: center;
                background-repeat: no-repeat;
                width: 4rem;
                height: 4rem;
                background-size: contain;
                position: absolute;
                right: 5.3rem;
                &:after {
                    display: none;
                }

                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }

            #banner_prev {
                background-image: url(../images/icons/banner_prev.svg);
                background-position: center;
                background-repeat: no-repeat;
                width: 4rem;
                height: 4rem;
                background-size: contain;
                position: absolute;
                left: 5.3rem;
            
                &:after {
                    display: none;
                }

                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }

            .banner_background {
                height: 60rem;
                padding-bottom: 10rem;
                position: relative;

                @include media-breakpoint-down(sm) {
                    height: 65rem;
                }


                .refer_label {
                    border-radius: 10px 10px 0 0;
                    background-color: $primary;
                    font-weight: 500;
                    font-size: 1.7rem;
                    color: $white;
                    position: absolute;
                    top: 50%;
                    right: -57px;
                    transform: rotate(270deg);
                    padding: .5rem 2.3rem;
                    text-transform: capitalize;
                    z-index: 9;
                    cursor: pointer;

                    @include media-breakpoint-down(sm) {
                        right: -47px;
                    }

                    a {
                        font-weight: 500;
                        font-size: 1.7rem;
                        color: $white;
                    }

                }

                &:after {
                    background: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0) 100%);
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .banner_container {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    z-index: 9;
                    transform: translateY(-50%);

                    @include media-breakpoint-up(xxl) {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        z-index: 9;
                        transform: translate(-50%, -50%);
                    }




                    .banner_contents {

                       



                        h1 {
                            font-weight: $medium;
                            font-size: 5rem;
                            color: $black;
                            max-width: 70rem;
                            width: 100%;

                            @include media-breakpoint-down(sm)  {
                                font-size: 4.2rem;
                            }

                            @include media-breakpoint-down(sm) {
                                max-width: 38rem;
                                width: 100%;
                            }

                        }

                        p {
                            max-width: 51rem;
                            width: 100%;
                            margin-top: 3rem;
                            display: -webkit-box;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;  
                            overflow: hidden;
                            @include media-breakpoint-down(sm)  {
                                font-size: 1.5rem;
                                max-width: 36rem;
                            }
                        }

                        .button_wrapper {
                            display: flex;
                            justify-content: start;
                            align-items: center;
                            gap: 2rem;
                            margin-top: 3rem;

                            .primary_btn {
                                max-width: 17.2rem;
                                width: 100%;
                            }
                        }

                        .agency_list {
                            display: flex;
                            justify-content: start;
                            align-items: center;
                            padding: 3rem 3.6rem;
                            background-color: $primary;
                            border-radius: 2rem;
                            max-width: 114rem;
                            width: 100%;
                            margin: auto;
                            margin-top: 7rem;
                            margin-bottom: -10rem;

                            @include media-breakpoint-down(lg)  {
                                padding: 1.5rem 1.5rem;
                            }

                            @include media-breakpoint-down(sm) {
                                flex-wrap: wrap;
                                gap: 1rem;
                            }

                            li {
                                padding: 0 2.6rem;
                                font-size: 2rem;
                                color: $white;
                                font-weight: $medium;
                                max-width: 19.6rem;
                                text-align: center;
                                width: 100%;
                                border-right: 1px solid rgba(255, 255, 255 , .3);

                                @include media-breakpoint-down(lg)  {
                                    padding: 0 1.5rem;
                                    font-size: 1.6rem !important;
                                }

                                @include media-breakpoint-down(sm)  {
                                    border: none;
                                    max-width: 100%;
                                }

                                &:first-child {
                                    padding-left: 0;
                                }
                                &:last-child {
                                    padding-right: 0;
                                    border-right: none;
                                }

                            }

                        }

                    }

                }

            }
        }
    }
}

.about_section {
    padding: 10rem 0;
    .about_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: start;
        gap: 5rem;


        @include media-breakpoint-down(lg) {
            flex-direction: column;
        }

        .about_contents {
            max-width: 45.8rem;
            width: 100%;

            @include media-breakpoint-down(lg) {
                max-width: 38rem;
            }

            @include media-breakpoint-down(lg) {
                max-width: 100%;
            }

            .sub_heading {
                font-size: 2rem;
                font-weight: $medium;
                color: $primary;
                text-transform: capitalize;
            }

            .heading {
                margin-top: 1rem;
                text-transform: capitalize;
                font-size: 4rem;

                @include media-breakpoint-down(sm) {
                    line-height: 5rem;
                }

            }
            .paragraph {
                margin-top: 2rem;
            }

            .primary_btn {
                margin-top: 4rem;
                max-width: 13.4rem;
                width: 100%;
            }

        }

        .about_imagewrapper {
            display: flex;
            justify-content: start;
            align-items: start;
            gap: 2rem;
            max-width: 58rem;
            width: 100%;

            .sub_image {
                position: relative;
                img {
                    border-radius: 2rem;
                    max-width: 28rem;
                    width: 100%;
                }

                &:nth-child(2) {
                    margin-top: 7rem;
                }

                .patient_box {
                    border-radius: 56px;
                    background-color: #EAFDFF;
                    padding: 1.4rem 1.9rem;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 1rem;
                    max-width: 18.8rem;
                    width: 100%;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: -4rem;

                    @include media-breakpoint-down(sm) {
                        max-width: 20rem;
                        gap: .5rem;
                        padding: 1.4rem;
                    }




                    .patient_contents{
                        h5 {
                            font-size: 2.4rem;
                            font-weight: $medium;
                            color: $primary;
                        }
                        h6 {
                            font-size: 1.4rem;
                            font-weight: $medium;
                            color: $black;
                            margin-top: .8rem;
                        }
                    }

                }

            }

        }

    }
}

.team_section {
    background-image: url(../images/team_banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .team_boxwrapper{
        background-color: rgba(0, 0, 0 , .2);
        border-radius: 2rem;
        padding: 4.5rem;
        max-width: 55.5rem;
        width: 100%;
        margin: 10rem 0;

        h2 {
            font-size: 4rem;
            font-weight: $medium;
            color: $white;
        }

        p {
            font-size: 1.6rem;
            font-weight: $regular;
            color: $white;
            margin-top: 2rem;
        }

        .button_wrapper {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 2rem;
            margin-top: 3.9rem;

            .primary_btn {
                padding: 1.5rem;
                height: 4.9rem !important;
                width: fit-content !important;
            }

        }

    }

}

.download_application {
    margin: 10rem 0;
    .download_wrapper {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 3.4rem;
        margin-bottom: 10rem;

        @include media-breakpoint-down(xl) {
            flex-direction: column;
        }

        .download_box {
            background-image: url(../images/download_background.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: left;
            display: flex;
            justify-content: start;
            gap: 6rem;
            padding: 6rem 3.5rem 0 4.8rem;
            max-width: 55.3rem;
            width: 100%;
            border-radius: 2rem;

            @media (max-width: 1300.98px) {
                gap: 3rem;
                padding: 6rem 1.5rem 0 1.5rem;
            }

            @include media-breakpoint-down(xl) {
                justify-content: center;
                max-width: 70%;
                align-items: center;
            }

            @include media-breakpoint-down(lg) {
                max-width: 100%;
            }

            @include media-breakpoint-down(sm) {
                flex-direction: column-reverse;
                gap: 4rem;
            }



            .download_contents {
                h6 {
                    font-size: 1.4rem;
                    font-weight: $semibold;
                    color: #E81D25;
                    padding: 1rem 1.5rem;
                    border-radius: 42px;
                    background-color: $white;
                    width: fit-content;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                h2 {
                    font-weight: $medium;
                    font-size: 2.8rem;
                    color: $black;
                    margin-top: 2rem;
                }

                .apps {
                    margin-top: 3.3rem;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 1.4rem;
                }
            }

        }
    }

    .tutorial_video {
        iframe {
            border-radius: 20px;
            width: 100%;
            height: 400px;

            @include media-breakpoint-down(sm) {
                height: 300px;
            }

        }
    }
}


.testimonials_section {
    background-color: #F7F7F7;
    padding: 10rem 0 0 0 ;
    .testimonial_head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5rem;

        @include media-breakpoint-down(lg) {
            gap: 2rem;
            flex-direction: column;
            align-items: start;
        }


        .titles{
           max-width: 40.2rem;
           width: 100%;
            h6 {
                font-size: 2rem;
                font-weight: $medium;
                color: $primary;
            }

            h2 {
                font-size: 4rem;
                font-weight: $medium;
                color: $black;
                margin-top: 1rem;
            }
        }

        .description {
            max-width: 62.3rem;
            width: 100%;
            p {
                font-size: 1.6rem;
                font-weight: $regular;
                color: $black;
            }
        }

    }

    .testimonial_swiper {
        padding-top: 5rem;
        padding-bottom: 10rem;
        .testimonial_box {
            box-shadow: 0px 7px 30px 0px #00000014;
            padding: 4rem 3rem;
            border-radius: 2rem;

            @include media-breakpoint-down(lg) {
                width: 100%;
            }

            &:nth-child(even) {
                margin-top: 4rem;

                @include media-breakpoint-down(lg) {
                    margin-top: 0;
                }

            }


            .user_wrapper{
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 2rem;

                .user_details {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 3rem;

                    .user_image {
                        width: 8rem;
                        height: 8rem;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                            border-radius: 50%;
                        }
                    }

                    .user_name {
                        h5 {
                            font-size: 2rem;
                            font-weight: $medium;
                            color: $black;
                        }

                        h6 {
                            font-size: 1.6rem;
                            font-weight: $medium;
                            color: #777777;
                            margin-top: .6rem;
                        }
                    }


                }
            }

            p {
                margin-top: 3rem;
                font-size: 1.6rem;
                font-weight: $regular;
            }

            .youtube_video {
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 1rem;
                margin-top: 1.6rem;

                h6 {
                    font-weight: $regular;
                    font-size: 1.6rem;
                    color: $black;
                }

            }


        }
    }


}

.values_section {
    padding: 10rem 0;
    background-color: $primary;
    position: relative;

    .knowmore_particle {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .knowmore_particle2 {
        position: absolute;
        left: 0;
        bottom: 0;

        img {
            @include media-breakpoint-down(md) {
                width: 100%;
            }
        }

    }

    h6 {
        font-size: 2rem;
        font-weight: $medium;
        color: $white;
    }

    h2 {
        font-size: 4rem;
        font-weight: $medium;
        color: $white;
        margin-top: 2.4rem;
    }

    .count_listing {
        margin-top: 5rem;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 4.5rem;

        @include media-breakpoint-down(xl) {
            gap: 1.5rem;
        }

        @include media-breakpoint-down(lg) {
            flex-wrap: wrap;
            gap: .5rem;
        }   

        li {
            padding: 2rem;
            border-radius: 1rem;
            background-color: $white;
            width: calc(100% / 4 - 3rem);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @include media-breakpoint-down(xl) {
                width: calc(100% / 4 - .5rem);
            }

            @include media-breakpoint-down(lg) {
                width: calc(100% / 2 - .5rem);
            }

            @include media-breakpoint-down(sm) {
                width: 100%;
            }
            

            h2 {
                font-size: 4.8rem;
                font-weight: $medium;
                color: $primary;
                margin-top: 2.5rem;
                text-align: center;
            }

            h6 {
                font-size: 1.6rem;
                font-weight: $regular;
                color: $black;
                margin-top: 3.6rem;
                text-align: center;
            }

        }

    }

}


.map_wrapper img {
    @include media-breakpoint-down(sm) {
        height: 300px;
    }
}

.map_wrapper iframe {
    @include media-breakpoint-down(sm) {
        height: 300px;
    }
}