.team_banner {
    background-image: none !important;
}                                             

.team_page {
    padding: 10rem 0;

    @include media-breakpoint-down(sm) {
        padding: 5rem 0;
    }


    .whychoose_team {
        padding-left: 113px;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 5rem;

        @include media-breakpoint-down(xl) {
            padding-left: 60px;
        }

        @include media-breakpoint-down(lg) {
            padding: 0 40px;
            flex-direction: column;
        }

        @include media-breakpoint-down(md) {
            padding: 0 30px;
            
        }

        @include media-breakpoint-down(sm) {
            padding: 0 16px;
            
        }


        .whychoose_contents {

            @include media-breakpoint-down(xl) {
                // max-width: 40rem;
                width: 100%;
            }

            h3 {
                font-size: 4rem;
                font-weight: $medium;
                color: $black;
            }

            p {
                font-size: 1.6rem;
                font-weight: $regular;
                color: $black;
                margin-top: 2rem;
            }

        }

        .whychoose_image {
            @include media-breakpoint-down(xl) {
                max-width: 45rem;
                width: 100%;
            }

            @include media-breakpoint-down(lg) {
                max-width: 55rem;
                width: 100%;

                
            }

            img {
                @include media-breakpoint-down(lg) {
                   border-radius: 2rem;
                   width: 100%;
                }
            }

        }

    }

    .staff_testimonials {
        padding-top: 10rem;

        @include media-breakpoint-down(sm) {
            padding-top: 5rem;
        }

        h2 {
            font-size: 4rem;
            font-weight: $medium;
            color: $black;

            @include media-breakpoint-down(sm) {
                text-align: center;
            }

        }

        .team_swiperWrapper {
            padding-top: 2rem;
            padding-bottom: 8rem;
            position: relative;

            .Teamslider {
                .swiper-wrapper {
                   .swiper-slide {
                    .team_iframewrapper {
                        img {
                            border-radius: 2rem;
                            width: 100%;
                        }
                    }
                   } 
                }



            }

            #testimonial_next {
                width: 4rem;
                right: 0;
                left: unset;
                bottom: 0;
                top: unset;

                &::after {
                    display: none;
                }

            }

            #testimonial_prev {
                width: 4rem;
                right: 6rem;
                left: unset;
                bottom: 0;
                top: unset;
            

                &::after {
                    display: none;
                }
            }


        }

    }


    .job_typewrapper {
        padding: 10rem 0;

        @include media-breakpoint-down(sm) {
            padding: 5rem 0;
        }

        h2 {
            font-size: 4rem;
            font-weight: $medium;
            color: $black;
            text-align: center;
        }

        p {
            font-size: 1.6rem;
            font-weight: $regular;
            color: $black;
            line-height: 2.4rem;
            max-width: 76.4rem;
            width: 100%;
            margin: auto;
            margin-top: 2rem;
            text-align: center;
        }

        .type_boxwrapper {
            .type_box {
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 4rem;
                border-radius: 2rem;
                background-color: #F7F7F7;
                margin-top: 4rem;
                overflow: hidden;

                @include media-breakpoint-down(md)  {
                    flex-direction: column;
                    gap: 2rem;
                }

                @include media-breakpoint-down(sm) {
                    gap: .5rem !important;
                } 

                &.typebox_second {
                    @include media-breakpoint-down(md) {
                        flex-direction: column-reverse !important;
                    }
                    .job_details {
                        padding: 3rem 0 3rem 3rem !important;

                        @include media-breakpoint-down(md) {
                            padding: 3rem !important;
                        }

                        @include media-breakpoint-down(sm) {
                            padding: 2rem !important;
                        }
                    }
                }

                .job_image {
                    max-width: 36rem;
                    width: 100%;

                    @include media-breakpoint-down(md) {
                        max-width: 100%;
                        height: 30rem;
                    }

                    @include media-breakpoint-down(sm) {
                        height: 23rem;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .job_details {
                    padding: 3rem 3rem 3rem 0;

                    @include media-breakpoint-down(md) {
                        padding: 3rem !important;
                    }

                    @include media-breakpoint-down(sm) {
                        padding: 2rem !important;
                    }

                    h3 {
                        font-size: 2.4rem;
                        font-weight: $medium;
                        color: $primary;
                    }

                    p {
                        font-size: 1.6rem;
                        font-weight: $regular;
                        color: $black;
                        margin-top: 1.4rem;
                        text-align: unset;
                    }

                    .primary_btn {
                        max-width: 14.6rem;
                        width: 100%;
                        margin-top: 3rem;
                    }


                }




            }
        }

    }


 

    
}