.offer_section {
    position: relative;
    .particle {
        position: absolute;
        top: 0;
        left: 0;
        opacity: .3;

        img {
            @include media-breakpoint-down(lg) {
                width: 100%;
            }
        }

    }
    .offer_details {
        padding-top: 16.2rem;
        display: flex;
        justify-content: start;
        gap: 6rem;

        @include media-breakpoint-down(lg) {
            flex-wrap: wrap;
            padding-top: 8rem;
            gap: 1rem;
        }

        

        .offer_contents {
            max-width: 50rem;
            width: 100%;

            @include media-breakpoint-down(lg) {
                max-width: 100%;
            }

            h3 {
                font-size: 4rem;
                font-weight: $medium;
                color: $black;
            }

            p {
                font-size: 1.6rem;
                font-weight: $regular;
                color: $black;
                margin-top: 2rem;
            }


        }

        .offer_imagewrapper {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 2rem;
            .offerimg1 {
                max-width: 28rem;
                width: 100%;

                img {
                    width: 100%;
                    border-radius: 2rem;
                    object-fit: cover;
                }

                &.offerimg2 {
                    margin-top: 7.1rem;
                }

            }
        }

    }

    .partner_details {
        p {
            font-size: 1.6rem;
            font-weight: $regular;
            color: $black;
            margin-top: 2rem;
        }

        ul {
            padding-left: 2rem;
            margin-top: 2.5rem;
            li {
                list-style: disc;
                font-size: 1.6rem;
                font-weight: $medium;
                color: $black;
                margin-top: 2rem;
            }
        }

        .wcss_image {
            margin-top: 4rem;
            margin-bottom: 10rem;
            display: flex;
            justify-content: center;

            @include media-breakpoint-down(lg) {
                margin-bottom: 4rem;
            }

            img {
                max-width: 88.6rem;
                width: 100%;
            }
        }



    }

    .territory_list {
        h2 {
            font-size: 4rem;
            font-weight: $medium;
            color: $black;
            margin-bottom: 3.1rem;
        }
        p {
            font-size: 1.6rem;
            font-weight: $regular;
            color: $black;
        }

        .territory_img {
            max-width: 114rem;
            width: 100%;
            margin: 2.4rem 0 6rem 0;

            img {
                width: 100%;
                border-radius: 14px;
            }

        }

        .territory_statistics {
            margin: 2.5rem 0 4rem 0;
            max-width: 114rem;
            width: 100%;

            img {
                width: 100%;
                border-radius: 14px;
            }
        }

        ul {
            padding-left: 2rem;
            margin-top: 2.5rem;
            li {
                list-style: disc;
                font-size: 1.6rem;
                font-weight: $medium;
                color: $black;
                margin-top: 2rem;
            }
        }

        p {
            margin-top: 2rem;
        }


    }

    .pathway_section {
        background-color: #E7F2F3;
        padding: 10rem 0 3rem 0;
        margin-top: 10rem;
        position: relative;

        .pathway_particle {
            position: absolute;
            bottom: 6rem;
            right: 0;
        }




        h2 {
            font-size: 4rem;
            font-weight: $medium;
            color: $black;
            position: relative;
            z-index: 9;
            text-align: center;
        }

        .pathway_img {
            margin-top: 4rem;
            position: relative;
            z-index: 9;
            display: flex;
            justify-content: center;

            img {
                max-width: 86.1rem;
                width: 100%;
            }

        }


    }


}