

.stepwrapper2 {
    .step_box {
        padding: 6rem 6rem 4rem 6rem;
        background-color: $white;
        border: 1px solid #DADADA;
        border-radius: 2rem;
        max-width: 114rem;
        width: 100%;
        margin: auto;
        margin-bottom: 5rem;
        margin-top: -16rem;
        position: relative;
        z-index: 9;

        .step_head {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 8rem;
            position: relative;
            width: fit-content;

            &:after {
                position: absolute;
                content: "";
                top: 50%;
                left: 0;
                background-color: $secondary;
                height: 2px;
                width: 100%;
            }

            li {
                width: 3.6rem;
                height: 3.6rem;
                border: 1px dashed $primary;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.6rem;
                font-weight: $semibold;
                color: $secondary;
                z-index: 9;
                position: relative;
                background-color: $white;

                &.active {
                    background-color: #C5E4E8;
                }

            }
        }

        .contents {
            margin-top: 5rem;
            padding-bottom: 2rem;
            border-bottom: 1px dashed #C2C2C2;
            h6 {
                font-size: 2.4rem;
                font-weight: $regular;
                color: $primary;
            }
    
            h2 {
                font-size: 4rem;
                font-weight: $medium;
                color: $black;
                margin-top: 5px;
            }
        }

        form {
            margin-top: 3rem;
            h3 {
                font-size: 2.4rem;
                font-weight: $regular;
                color: $black;
            }

            .register_inputwrapper {
                display: flex;
                .input_group {
                    margin-top: 2rem;
                    label {
                        font-size: 1.6rem;
                        font-weight: $regular;
                        color: $black;
                    }
    
                    .input_parent {
                        position: relative;
                        margin-top: 1.4rem;
                        width: 100%;
                        height: 100%;
                        height: 5rem;
                        max-width: 49rem;
                        input {
                            height: 5rem;
                            border: 1px solid #C0C0C0;
                            display: flex;
                            align-items: center;
                            padding: 13px;
                            width: 100%;
                            border-radius: 1rem;
                            
                        }
                        .nice-select {
                            height: 5rem;
                            border: 1px solid #C0C0C0;
                            display: flex;
                            align-items: center;
                            padding: 13px;
                            width: 100%;
                            border-radius: 1rem;
    
                            .list {
                                width: 100%;
                            }
                        }
                    }
    
                }
            }



            .next_btn {
                display: flex;
                justify-content: end;
                align-items: center;
                margin-top: 4rem;

                .primary_btn {
                    max-width: 18rem;
                    width: 100%;
                    color: $white !important;
                }
            }

        }


    }
}