.tac_clients {
    padding: 10rem 0;

    @include media-breakpoint-down(sm) {
        padding: 5rem 0;
    }

    position: relative;
    .particle {
        position: absolute;
        top: 0;
        left: 0;

        img {
            @include media-breakpoint-down(lg) {
                width: 100%;
            }
        }
    }

    .tac_contentWrapper {
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: 6rem;

        @include media-breakpoint-down(lg) {
            flex-direction: column;
            gap: 4rem;
        }
       
        .tac_details {
            max-width: 50rem;
            width: 100%;

            @include media-breakpoint-down(lg) {
                max-width: 100%;
            }

            p {
                font-size: 1.6rem;
                font-weight: $regular;
                color: $black;
                margin-top: 2.5rem;
            }
        }

        .tac_image {
            max-width: 56.4rem;
            width: 100%;

            img {
                width: 100%;
                border-radius: 2rem;
            }
        }


    }

    
}