.testimonial_banner {
    background-image: url(../images/testimonial_banner.png);

}

.testimonials_wrapper {
    padding: 10rem 0;
    .testimonial_listing {
        h2 {
            font-size: 4rem;
            font-weight: $medium;
            color: $black;
            text-align: center;
        }

        .testimonial_boxWrapper {
            display: flex;
            justify-content: start;
            align-items: start;
            gap: 4rem;
            flex-wrap: wrap;
            margin-top: 4rem;
            .testimonial_box {
                width: calc(100% / 2 - 2rem);
                box-shadow: 0px 7px 30px 0px #00000014;
                padding: 4rem 3rem;
                border-radius: 2rem;

                @include media-breakpoint-down(lg) {
                    width: 100%;
                }

                &:nth-child(even) {
                    margin-top: 4rem;

                    @include media-breakpoint-down(lg) {
                        margin-top: 0;
                    }

                }


                .user_wrapper{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 2rem;

                    .user_details {
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        gap: 3rem;

                        .user_image {
                            width: 8rem;
                            height: 8rem;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                object-position: center;
                                border-radius: 50%;
                            }
                        }

                        .user_name {
                            h5 {
                                font-size: 2rem;
                                font-weight: $medium;
                                color: $black;
                            }

                            h6 {
                                font-size: 1.6rem;
                                font-weight: $medium;
                                color: #777777;
                                margin-top: .6rem;
                            }
                        }


                    }
                }

                p {
                    margin-top: 3rem;
                    font-size: 1.6rem;
                    font-weight: $regular;
                }

                .youtube_video {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 1rem;
                    margin-top: 1.6rem;

                    h6 {
                        font-weight: $regular;
                        font-size: 1.6rem;
                        color: $black;
                    }

                }


            }
        }

        .common_Pagination {
            margin-top: 4rem;
        }

    }
}
