.vhc_detailpage {
    padding: 10rem 0;

    @include media-breakpoint-down(sm) {
        padding: 5rem 0;
    }

    position: relative;
    .particle {
        position: absolute;
        top: 0;
        left: 0;

        img {
            @include media-breakpoint-down(lg) {
                width: 100%;
            }
        }
    }

    .vhv_contents {
        p {
            font-size: 1.6rem;
            font-weight: $regular;
            color: $black;
            margin-top: 2.5rem;
        }

        h5 {
            color: $primary;
            font-size: 1.6rem;
            font-weight: $regular;
            margin-top: 2.5rem;
        }

        ul {
            padding-left: 2rem;

            li {
                margin-top: 2rem;
                list-style: disc;
                font-size: 1.6rem;
                font-weight: $medium;
                color: $black;
            }

        }

        .vhc_image {
            margin: 2.5rem 0;

            @include media-breakpoint-down(lg) {
                height: 35rem;
            }

            @include media-breakpoint-down(sm) {
                height: 23rem;
            }


            img {
                max-width: 114rem;
                width: 100%;
                border-radius: 2rem;
                object-fit: cover;

                
            @include media-breakpoint-down(lg) {
                height: 100%;
            }
            }
        }

    }

    
}